<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-2">
    <div class="container-fluid">
        <button class="navbar-toggler top-0 start-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav">
                <a class="nav-link" routerLink="/torneo">Torneos</a>
                <a class="nav-link" routerLink="/equipos">Equipos</a>
                <a class="nav-link" routerLink="/categorias">Categorias</a>
            </div>
        </div>
    </div>
</nav>